@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import '../lib/index.css';

@theme {
	--font-sans: 'Inter', 'Roboto Flex', system-ui, sans-serif;
	--default-transition-duration: var(--md-sys-motion-duration-spatial);
	--default-transition-timing-function: var(--md-sys-motion-timing-function-emphasized-decel);
}
