name: Publish

on:
  release:
    types: [created]
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to Deploy'
        required: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - uses: pnpm/action-setup@v4

      - name: Install dependencies
        run: pnpm i

      - name: Build project
        run: pnpm run build

      - name: Run lint
        run: pnpm run lint

      - name: Run check
        run: pnpm run check

  publish-gpr:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://npm.pkg.github.com/
      - uses: pnpm/action-setup@v4
      - run: pnpm i
      - run: pnpm build
      - run: npm run publish
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
